<a href="https://colab.research.google.com/github/kamonsiri080/DW/blob/master/Lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello Python

In [1]:
print("Hello World")

Hello World

# Declare Variable
How to declare vaariable in Python

In [8]:
score = 100
name = "Kamonsiri"
print("Name is " + name + " score is "+ str(score))

Name is Kamonsiri score is 100

In [3]:
a = 2
b = 3
c = a * b
print(c)

6

# List

How to use list PtThon

In [10]:
mylist = []
mylist.append("Phasit")
mylist.append(200)
mylist

['Phasit', 200]

How to count data in list

In [11]:
len(mylist)

2

#If-eles PyThon
How to use if-eles in PyThon

In [13]:
if mylist[1] > 100 :
  print("Pass")

Pass

In [18]:
if mylist[1] > 100 :
  name = mylist[0]
  score = mylist[1]
  print(name+" "+str(score))
elif mylist[1] > 200 :
  print("Very Pass")
else:
  print("Super Pass")

Phasit 200

In [19]:
score = 76
if score > 80 :
  print("A")
elif score > 70 :
  print("B")
elif score > 60 :
  print("C")
elif score > 50 :
  print("D")
else :
  print("F")

B

# For Loop in Python
How to use for loop

In [22]:
summation = 0
for i in range(0,10):
  print(str(i))
  summation = summation+1
print(summation)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
summation = []
for i in range(0,10) :
  summation.append(i)
print (summation)
  
for i in summation :
  print(str(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9

# For-Each Loop

In [25]:
for i in summation :
    print(str(i))

0
1
2
3
4
5
6
7
8
9